.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    margin-bottom: 40px;

    h1 {
        font-size: 3em;
        font-weight: bold;
        color: #FFBA07;
    }

    h4 {
        font-weight: 100;
    }
    
}